* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #fff6f6;
}

header {
    margin-bottom: 20px;
}

.color1, .color2, .color3, .color4 {
    display: inline-block;
    height: 150x;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}
.color1 {
    background-color: #191970;
}

.color2 {
    background-color: #76b6c4;
}

.color3 {
    background-color: #7fcdff;
}

.color4 {
    background-color: #1da2d8;
    margin-top: 10px;
}